on:
  push:
    branches:
      - main
    tags:
      - '*' # This will trigger on ANY tag you push

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Determine Release Type
        id: vars
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "type=release" >> $GITHUB_OUTPUT
          else
            echo "type=alpha" >> $GITHUB_OUTPUT
          fi

      - name: Package and Upload
        uses: BigWigsMods/packager@v2
        env:
          CF_RELEASE_TYPE: ${{ steps.vars.outputs.type }}
          WOWI_RELEASE_TYPE: ${{ steps.vars.outputs.type }}
          WAGO_RELEASE_TYPE: ${{ steps.vars.outputs.type }}