on:
  push:
    branches: [ main ]  # Pushing code = Alpha
    tags: [ 'v*' ]      # Creating tag = Release

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Determine Release Type
        id: vars
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "type=release" >> $GITHUB_OUTPUT
          else
            echo "type=alpha" >> $GITHUB_OUTPUT
          fi

      - name: Package and Upload
        uses: BigWigsMods/packager@v2
        with:
          args: -r "${{ steps.vars.outputs.type }}"